.p-Home.Flex1 {
display: flex;
justify-content: space-around;
align-items: center;
padding-top: 20px;
padding-bottom: 30px;
font-size: 18px;
color: #696969;
}
.p-Home.Flex3 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex2 {
display: flex;
align-items: center;
column-gap: 30px;
}
.p-Home.Flex5 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex4 {
display: flex;
}
.p-Home.Flex6 {
display: flex;
flex-direction: row;
}
.p-Home.Flex7 {
display: flex;
flex-direction: column;
row-gap: 20px;
padding-top: 100px;
padding-left: 150px;
font-size: 40px;
align-items: flex-start;
width: ;
}
.p-Home.Flex9 {
display: flex;
flex-direction: column;
font-size: 50px;
}
.p-Home.Flex11 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex10 {
display: flex;
}
.p-Home.Flex8 {
display: flex;
background-color: #FF7629;
}
.p-Home.Flex12 {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
row-gap: 20px;
padding-top: 75px;
font-size: 22px;
}
.p-Home.Flex13 {
display: flex;
column-gap: 60px;
}
.p-Home.Flex14 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 40px;
padding-top: 150px;
padding-bottom: 100px;
}
.p-Home.Flex15 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex20 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 20px;
border-radius: 15px;
border-color: #cecece;
padding-top: 40px;
margin-bottom: ;
padding-bottom: 40px;
border-style: solid;
}
.p-Home.Flex17 {
display: flex;
flex-direction: column;
row-gap: 20px;
align-items: center;
padding-top: 40px;
padding-bottom: 40px;
border-radius: 15px;
border-color: #cecece;
border-style: solid;
}
.p-Home.Flex18 {
display: flex;
row-gap: 20px;
flex-direction: column;
align-items: center;
padding-top: 40px;
padding-bottom: 40px;
border-radius: 15px;
border-color: #cecece;
border-style: solid;
}
.p-Home.Flex19 {
display: flex;
align-items: center;
flex-direction: column;
row-gap: 20px;
padding-top: 40px;
padding-bottom: 40px;
border-radius: 15px;
border-color: #cecece;
border-style: solid;
}
.p-Home.Flex16 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex21 {
display: flex;
justify-content: center;
padding-top: 150px;
padding-left: 150px;
background-color: #FFF9F3;
align-items: flex-start;
}
.p-Home.Flex23 {
display: flex;
align-items: flex-start;
flex-direction: column;
row-gap: 25px;
width: 50%;
padding-top: 100px;
flex-grow: 1;
}
.p-Home.Flex28 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex22 {
display: flex;
align-items: center;
width: 50%;
padding-bottom: 200px;
}
.p-Home.Flex24 {
display: flex;
flex-direction: column;
row-gap: 20px;
padding-right: 20px;
padding-bottom: 50px;
padding-left: 50px;
padding-top: 50px;
border-radius: 25px;
background-color: #ffffff;
position: relative;
top: 200px;
right: 300px;
}
.p-Home.Flex25 {
display: flex;
column-gap: 20px;
width: 350px;
}
.p-Home.Flex26 {
display: flex;
width: 300px;
column-gap: 20px;
}
.p-Home.Flex27 {
display: flex;
column-gap: 20px;
width: 300px;
}
.p-Home.Flex29 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
row-gap: 20px;
padding-top: 150px;
padding-bottom: 150px;
}
.p-Home.Flex30 {
display: flex;
flex-direction: column;
row-gap: 30px;
}
.p-Home.Flex31 {
display: flex;
column-gap: 25px;
width: ;
}
.p-Home.Flex34 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}
.p-Home.Flex35 {
display: flex;
padding-left: 10px;
padding-right: 10px;
background-color: #fffbfb;
border-radius: 15px;
position: relative;
left: 60px;
top: 60px;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.Flex36 {
display: flex;
align-items: center;
flex-direction: column;
row-gap: 10px;
}
.p-Home.Flex37 {
display: flex;
padding-left: 10px;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 10px;
border-radius: 15px;
position: relative;
left: 60px;
top: 60px;
background-color: #fffbfb;
}
.p-Home.Flex38 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}
.p-Home.Flex39 {
display: flex;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
position: relative;
top: 60px;
left: 60px;
background-color: #fffbfb;
border-radius: 15px;
}
.p-Home.Flex40 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}
.p-Home.Flex41 {
display: flex;
padding-top: 10px;
padding-left: 10px;
padding-bottom: 10px;
padding-right: 10px;
border-radius: 15px;
background-color: #fffbfb;
position: relative;
left: 60px;
top: 60px;
}
.p-Home.Flex32 {
display: flex;
column-gap: 25px;
width: ;
}
.p-Home.Flex42 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}
.p-Home.Flex43 {
display: flex;
padding-top: 10px;
padding-left: 10px;
padding-bottom: 10px;
padding-right: 10px;
position: relative;
background-color: #fffbfb;
left: 60px;
top: 60px;
border-radius: 15px;
}
.p-Home.Flex44 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}
.p-Home.Flex45 {
display: flex;
border-radius: 15px;
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
position: relative;
left: 60px;
top: 60px;
background-color: #fffbfb;
}
.p-Home.Flex46 {
display: flex;
row-gap: 10px;
flex-direction: column;
align-items: center;
}
.p-Home.Flex47 {
display: flex;
border-radius: 15px;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 10px;
padding-left: 10px;
position: relative;
top: 60px;
left: 60px;
background-color: #fffbfb;
}
.p-Home.Flex48 {
display: flex;
align-items: center;
flex-direction: column;
row-gap: 10px;
}
.p-Home.Flex49 {
display: flex;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
border-radius: 15px;
background-color: #fffbfb;
position: relative;
left: 60px;
top: 60px;
}
.p-Home.Flex33 {
display: flex;
column-gap: 30px;
justify-content: center;
padding-bottom: 20px;
padding-top: 20px;
}
.p-Home.Flex60 {
display: flex;
justify-content: flex-start;
align-items: stretch;
}
.p-Home.Flex59 {
display: flex;
}
.p-Home.Flex61 {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
row-gap: 35px;
background-color: #FF7629;
padding-top: 8px;
padding-bottom: 100px;
padding-left: 150px;
width: ;
}
.p-Home.Flex62 {
display: flex;
column-gap: 30px;
}
.p-Home.Button1 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
margin-bottom: 0px;
}
.p-Home.Button2 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
}
.p-Home.TextBox1 {
cursor: pointer;
}
.p-Home.TextBox2 {
cursor: pointer;
}
.p-Home.TextBox3 {
cursor: pointer;
}
.p-Home.TextBox4 {
cursor: pointer;
}
.p-Home.TextBox5 {
cursor: pointer;
}
.p-Home.Image1 {
cursor: pointer;
}
.p-Home.TextBox6 {
font-size: 18px;
color: #757575;
width: 70%;
}
.p-Home.TextBox7 {
width: ;
}
.p-Home.TextBox8 {
color: #FF7629;
}
.p-Home.Button4 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
}
.p-Home.Button3 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #FF7629;
cursor: pointer;
user-select: none;
outline-style: none;
}
.p-Home.Image2 {
width: 400px;
border-width: ;
padding-top: 40px;
padding-left: 40px;
padding-bottom: 40px;
padding-right: 40px;
position: relative;
right: 200px;
border-radius: 50px;
}
.p-Home.TextBox9 {
font-size: 25px;
}
.p-Home.Image4 {
width: 200px;
}
.p-Home.Image5 {
width: 100px;
}
.p-Home.Image6 {
width: 150px;
}
.p-Home.Image7 {
width: 250px;
}
.p-Home.TextBox10 {
font-size: 25px;
}
.p-Home.Image12 {
;
}
.p-Home.TextBox22 {
font-size: 22px;
}
.p-Home.TextBox23 {
width: 200px;
font-size: 18px;
color: #676767;
padding-left: 20px;
padding-right: 10px;
}
.p-Home.TextBox24 {
font-size: 20px;
color: #FF7629;
}
.p-Home.Image8 {
;
}
.p-Home.TextBox13 {
font-size: 22px;
}
.p-Home.TextBox14 {
width: 200px;
padding-left: 20px;
padding-right: 10px;
font-size: 18px;
color: #676767;
text-align: left;
}
.p-Home.TextBox15 {
font-size: 20px;
color: #FF7629;
}
.p-Home.Image9 {
;
}
.p-Home.TextBox16 {
font-size: 22px;
}
.p-Home.TextBox17 {
width: 200px;
padding-left: 20px;
padding-right: 10px;
font-size: 18px;
color: #676767;
}
.p-Home.TextBox18 {
color: #FF7629;
font-size: 20px;
}
.p-Home.Image10 {
;
}
.p-Home.TextBox19 {
font-size: 22px;
}
.p-Home.TextBox20 {
width: 200px;
padding-left: 20px;
padding-right: 10px;
font-size: 18px;
color: #676767;
}
.p-Home.TextBox21 {
font-size: 20px;
color: #FF7629;
}
.p-Home.Button5 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
}
.p-Home.Button6 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
}
.p-Home.TextBox30 {
font-size: 33px;
}
.p-Home.TextBox31 {
width: 80%;
color: #8d8d8d;
}
.p-Home.TextBox32 {
width: 80%;
color: #8d8d8d;
}
.p-Home.Button8 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
}
.p-Home.Button9 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
}
.p-Home.Image13 {
width: 460px;
border-radius: 30px;
}
.p-Home.TextBox26 {
font-size: 22px;
}
.p-Home.Image14 {
;
}
.p-Home.TextBox27 {
width: 50%;
color: #8d8d8d;
}
.p-Home.Image15 {
;
}
.p-Home.TextBox28 {
color: #8d8d8d;
}
.p-Home.Image16 {
;
}
.p-Home.TextBox29 {
color: #8d8d8d;
}
.p-Home.TextBox33 {
font-size: 35px;
}
.p-Home.TextBox34 {
color: #727272;
font-size: 22px;
}
.p-Home.TextBox36 {
font-size: 25px;
}
.p-Home.TextBox37 {
width: 250px;
font-size: 18px;
text-align: center;
color: #686868;
}
.p-Home.Image17 {
width: 250px;
height: 250px;
border-radius: 20px;
}
.p-Home.TextBox35 {
;
}
.p-Home.TextBox39 {
font-size: 25px;
}
.p-Home.TextBox40 {
width: 250px;
font-size: 18px;
color: #686868;
text-align: center;
}
.p-Home.Image18 {
width: 250px;
height: 250px;
border-radius: 20px;
}
.p-Home.TextBox38 {
;
}
.p-Home.TextBox42 {
font-size: 25px;
}
.p-Home.TextBox43 {
width: 250px;
color: #686868;
text-align: center;
}
.p-Home.Image19 {
width: 250px;
height: 250px;
border-radius: 20px;
}
.p-Home.TextBox41 {
;
}
.p-Home.TextBox45 {
font-size: 25px;
}
.p-Home.TextBox46 {
width: 250px;
color: #686868;
text-align: center;
}
.p-Home.Image20 {
width: 250px;
height: 250px;
border-radius: 20px;
}
.p-Home.TextBox44 {
;
}
.p-Home.TextBox48 {
font-size: 25px;
}
.p-Home.TextBox49 {
width: 250px;
text-align: center;
color: #686868;
}
.p-Home.Image21 {
width: 250px;
height: 250px;
border-radius: 20px;
}
.p-Home.TextBox47 {
;
}
.p-Home.TextBox51 {
font-size: 25px;
}
.p-Home.TextBox52 {
width: 250px;
color: #686868;
text-align: center;
}
.p-Home.Image22 {
width: 250px;
height: 250px;
border-radius: 20px;
}
.p-Home.TextBox50 {
;
}
.p-Home.TextBox54 {
font-size: 25px;
}
.p-Home.TextBox55 {
width: 250px;
color: #686868;
text-align: center;
}
.p-Home.Image23 {
width: 250px;
height: 250px;
border-radius: 20px;
}
.p-Home.TextBox53 {
;
}
.p-Home.TextBox57 {
width: 250px;
color: #686868;
text-align: center;
}
.p-Home.TextBox58 {
font-size: 25px;
}
.p-Home.Image24 {
width: 250px;
height: 250px;
border-radius: 20px;
}
.p-Home.TextBox56 {
;
}
.p-Home.Button10 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
}
.p-Home.Button11 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
}
.p-Home.Image25 {
width: 100%;
}
.p-Home.TextBox59 {
max-width: 80%;
font-size: 40px;
color: #ffffff;
}
.p-Home.TextBox60 {
max-width: 80%;
color: #fffafa;
font-size: 18px;
}
.p-Home.Button12 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
}
.p-Home.Button13 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ffffff;
cursor: pointer;
user-select: none;
}
