.p-Home.Flex1 {
display: flex;
justify-content: space-around;
align-items: center;
padding-top: 20px;
padding-bottom: 30px;
font-size: 18px;
color: #696969;
}
.p-Home.Flex3 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex2 {
display: flex;
align-items: center;
column-gap: 30px;
}
.p-Home.Flex5 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex4 {
display: flex;
}
.p-Home.Flex6 {
display: flex;
flex-direction: row;
}
.p-Home.Flex7 {
display: flex;
flex-direction: column;
row-gap: 20px;
padding-top: 100px;
padding-left: 150px;
font-size: 40px;
align-items: flex-start;
width: ;
}
.p-Home.Flex9 {
display: flex;
flex-direction: column;
font-size: 50px;
}
.p-Home.Flex11 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex10 {
display: flex;
}
.p-Home.Flex8 {
display: flex;
background-color: #FF7629;
}
.p-Home.Flex12 {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
row-gap: 20px;
padding-top: 75px;
font-size: 22px;
}
.p-Home.Flex13 {
display: flex;
column-gap: 60px;
}
.p-Home.Flex14 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 40px;
padding-top: 150px;
padding-bottom: 100px;
}
.p-Home.Flex15 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex20 {
display: flex;
flex-direction: column;
align-items: center;
row-gap: 20px;
border-radius: 15px;
border-color: #cecece;
padding-top: 40px;
margin-bottom: ;
padding-bottom: 40px;
border-style: solid;
}
.p-Home.Flex17 {
display: flex;
flex-direction: column;
row-gap: 20px;
align-items: center;
padding-top: 40px;
padding-bottom: 40px;
border-radius: 15px;
border-color: #cecece;
border-style: solid;
}
.p-Home.Flex18 {
display: flex;
row-gap: 20px;
flex-direction: column;
align-items: center;
padding-top: 40px;
padding-bottom: 40px;
border-radius: 15px;
border-color: #cecece;
border-style: solid;
}
.p-Home.Flex19 {
display: flex;
align-items: center;
flex-direction: column;
row-gap: 20px;
padding-top: 40px;
padding-bottom: 40px;
border-radius: 15px;
border-color: #cecece;
border-style: solid;
}
.p-Home.Flex16 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex21 {
display: flex;
justify-content: center;
padding-top: 150px;
padding-left: 150px;
background-color: #FFF9F3;
align-items: flex-start;
}
.p-Home.Flex23 {
display: flex;
align-items: flex-start;
flex-direction: column;
row-gap: 25px;
width: 50%;
padding-top: 100px;
flex-grow: 1;
}
.p-Home.Flex28 {
display: flex;
column-gap: 30px;
}
.p-Home.Flex22 {
display: flex;
align-items: center;
width: 50%;
padding-bottom: 200px;
}
.p-Home.Flex24 {
display: flex;
flex-direction: column;
row-gap: 20px;
padding-right: 20px;
padding-bottom: 50px;
padding-left: 50px;
padding-top: 50px;
border-radius: 25px;
background-color: #ffffff;
position: relative;
top: 200px;
right: 300px;
}
.p-Home.Flex25 {
display: flex;
column-gap: 20px;
width: 350px;
}
.p-Home.Flex26 {
display: flex;
width: 300px;
column-gap: 20px;
}
.p-Home.Flex27 {
display: flex;
column-gap: 20px;
width: 300px;
}
.p-Home.Button1 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
margin-bottom: 0px;
}
.p-Home.Button2 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
}
.p-Home.TextBox1 {
cursor: pointer;
}
.p-Home.TextBox2 {
cursor: pointer;
}
.p-Home.TextBox3 {
cursor: pointer;
}
.p-Home.TextBox4 {
cursor: pointer;
}
.p-Home.TextBox5 {
cursor: pointer;
}
.p-Home.Image1 {
cursor: pointer;
}
.p-Home.TextBox6 {
font-size: 18px;
color: #757575;
width: 70%;
}
.p-Home.TextBox7 {
width: ;
}
.p-Home.TextBox8 {
color: #FF7629;
}
.p-Home.Button4 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
}
.p-Home.Button3 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #FF7629;
cursor: pointer;
user-select: none;
outline-style: none;
}
.p-Home.Image2 {
width: 400px;
border-width: ;
padding-top: 40px;
padding-left: 40px;
padding-bottom: 40px;
padding-right: 40px;
position: relative;
right: 200px;
border-radius: 50px;
}
.p-Home.TextBox9 {
font-size: 25px;
}
.p-Home.Image4 {
width: 200px;
}
.p-Home.Image5 {
width: 100px;
}
.p-Home.Image6 {
width: 150px;
}
.p-Home.Image7 {
width: 250px;
}
.p-Home.TextBox10 {
font-size: 25px;
}
.p-Home.Image12 {
;
}
.p-Home.TextBox22 {
font-size: 22px;
}
.p-Home.TextBox23 {
width: 200px;
font-size: 18px;
color: #676767;
padding-left: 20px;
padding-right: 10px;
}
.p-Home.TextBox24 {
font-size: 20px;
color: #FF7629;
}
.p-Home.Image8 {
;
}
.p-Home.TextBox13 {
font-size: 22px;
}
.p-Home.TextBox14 {
width: 200px;
padding-left: 20px;
padding-right: 10px;
font-size: 18px;
color: #676767;
text-align: left;
}
.p-Home.TextBox15 {
font-size: 20px;
color: #FF7629;
}
.p-Home.Image9 {
;
}
.p-Home.TextBox16 {
font-size: 22px;
}
.p-Home.TextBox17 {
width: 200px;
padding-left: 20px;
padding-right: 10px;
font-size: 18px;
color: #676767;
}
.p-Home.TextBox18 {
color: #FF7629;
font-size: 20px;
}
.p-Home.Image10 {
;
}
.p-Home.TextBox19 {
font-size: 22px;
}
.p-Home.TextBox20 {
width: 200px;
padding-left: 20px;
padding-right: 10px;
font-size: 18px;
color: #676767;
}
.p-Home.TextBox21 {
font-size: 20px;
color: #FF7629;
}
.p-Home.Button5 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
}
.p-Home.Button6 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
}
.p-Home.TextBox30 {
font-size: 33px;
}
.p-Home.TextBox31 {
width: 80%;
color: #8d8d8d;
}
.p-Home.TextBox32 {
width: 80%;
color: #8d8d8d;
}
.p-Home.Button8 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #cccccc;
cursor: pointer;
user-select: none;
}
.p-Home.Button9 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
}
.p-Home.Image13 {
width: 460px;
border-radius: 30px;
}
.p-Home.TextBox26 {
font-size: 22px;
}
.p-Home.Image14 {
;
}
.p-Home.TextBox27 {
width: 50%;
color: #8d8d8d;
}
.p-Home.Image15 {
;
}
.p-Home.TextBox28 {
color: #8d8d8d;
}
.p-Home.Image16 {
;
}
.p-Home.TextBox29 {
color: #8d8d8d;
}
